@model IEnumerable<OrderSystem.Core.Models.PersonInfo>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Orderitem.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonPhone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PersonIdentity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CredentialType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remark)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Orderitem.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonPhone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PersonIdentity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CredentialType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Remark)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
