@model OrderSystem.Core.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Partner.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Partner.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Spot)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Spot)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidStartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ValidEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ValidEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NeedFeedBack)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NeedFeedBack)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Commision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Commision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Settlement)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Settlement)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Borkerage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Borkerage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ContractPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContractPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cons)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cons)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
